.*
*.pyc
*.pyo
install/libs/pyxpcomext/*
install/libs/xulrunner/*
src/*
*.swp
*.swo
*~
dist/*
build/*
*/build
tinasoft-*.*
dropboxize.sh
viz/.*
viz/dist/*
viz/build/*
viz/nbproject/private/*
viz/*.swp
viz/*~
tina/tmp/*
tina/chrome/content/applet/tinaviz.jar
tina/graph.pdf
