[submodule "static/tinaweb"]
	path = static/tinaweb
	url = git@github.com:jbilcke/tinaweb.git
[submodule "TinasoftPytextminer"]
	path = TinasoftPytextminer
	url = git@github.com:elishowk/TinasoftPytextminer.git
