[submodule "static/tinaweb"]
	path = tinasoft/static/tinaweb
	url = git@github.com:moma/tinaweb.git
[submodule "TinasoftPytextminer"]
	path = tinasoft/TinasoftPytextminer
	url = git@github.com:moma/TinasoftPytextminer.git
