[submodule "static/tinaweb"]
	path = static/tinaweb
	url = git@github.com:moma/tinaweb.git
[submodule "TinasoftPytextminer"]
	path = TinasoftPytextminer
	url = git@github.com:moma/TinasoftPytextminer.git
