.*
*.pyc
*.pyo
.packaging
install/libs
install/libs/pyxpcomext/*
install/libs/xulrunner/*
src/*
*.swp
*.swo
*~
dist
dist/*
build/*
*/build
tinasoft-*.*
*.tar.gz
*.zip
viz/.*
viz/dist/*
viz/build/*
viz/nbproject/private/*
viz/*.swp
viz/*~
tina/config.yaml
tina/tmp/*
tina/chrome/content/applet/tinaviz.jar
tina/graph.pdf
tina/log/*
tina/db/*
tina/index/*
tina/pylib/tinasoft/*
