TinasoftPytextminer
.*
*.pyc
*.pyo
.packaging
install/libs
install/libs/pyxpcomext/*
install/libs/xulrunner/*
tina/index/*
tina/log/*
src/*
*.swp
*.swo
*~
dist
dist/*
build/*
*/build
tinasoft-*.*
*.tar.gz
*.zip
*.tar.bz*
viz/.*
viz/dist/*
viz/build/*
viz/nbproject/private/*
viz/*.swp
viz/*~
tina/tmp/*
tina/*fet*
tina/chrome/content/applet/tinaviz.jar
tina/chrome/content/applet/current.gexf
tina/graph.pdf
tina/plugins/*
tina/java/*
