
/*
************************************
*    CSS CORE:                     *
*    YOU DON'T WANT TO EDIT THIS   *
*    (but you can)                 *
************************************
*/

html { overflow: hidden; }
body, html { height: 100%; padding: 0px; }
body { margin: auto; position: relative; }
img, video { vertical-align: middle; }
/* FIXME : Mandatory for flex box model, Firefox bug */
/* See JS hack */
section > div { width: 100%; display: -moz-box; -moz-box-orient : vertical; -moz-box-pack : center; -moz-box-align : center; }
section > div { width: 100%; display: -webkit-box; -webkit-box-orient : vertical; -webkit-box-pack : center; -webkit-box-align : center; }
footer { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; position: absolute; bottom: 0; padding: 1em; width: 100%; }
.flex-wrapper { display: -moz-box; display: -webkit-box; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; width: 100%; }
footer .flex-space { -moz-box-flex: 1; -webkit-box-flex: 1; }
section { 
    -moz-transition-property: -moz-transform, opacity;
    -moz-transition-duration: 0.5s, 0.5s; 
    pointer-events: none; 
    display: block; 
    width: 100%; 
    margin: auto; 
    position: absolute; 
    padding: 0 10px;
    opacity: 0; 
    -moz-box-sizing: border-box; 
}
section { 
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.5s, 0.5s; 
    pointer-events: none;
    -webkit-box-sizing: border-box; 
}
section h1, section h2, section h3, section p { text-align: center; margin: .3em; margin: 0; padding: 0; }
section[aria-selected] { 
    opacity: 1; 
    pointer-events: auto;
    -moz-transition-delay: 0.5s, 0.5s;
    -webkit-transition-delay: 0.5s, 0.5s; 
}
pre { 
    font-size: 35px; 
    border-left: 6px solid white; 
    padding-left: 10px; 
    white-space: pre-wrap;
    /* css-3 */ word-wrap: break-word; 
    /* Internet Explorer 5.5+ */ line-height: 1.3em; 
} 
a { 
    color: white!important; 
    text-decoration: none; 
}

/*
************************************
*    CSS OPTIONS:                  *
*    YOU WANT TO EDIT THIS         *
*                                  *
************************************
*/

/* Want your own font? Use font-face */
@font-face  {
    /* Uncomment and add your own font file
    font-family: fface;
    src: url(myfont.ttf);
    */

}
/* */
/* The backgrounds of all your slides */
body {
    /* Could be an image, a color, a gradient */
    background-image:
        -moz-radial-gradient( 50% 40% 90deg, circle, 
        rgba(0,110,160,255) 0%,
        rgba(58,75,106,255) 900px);
    background-image: 
        -webkit-gradient(radial, 50% 30%, 0, 50% 30%, 600, 
        from(#006EA0), 
        to(#304160));
    background-color: #ffffff;
    text-shadow:0px 0px 4px rgba(0, 0,0, 1);
}

.bigshadow {
    text-shadow:0px 0px 8px rgba(0, 0,0, 1);
    font-weight:bold;
}

/* This is the style of a slide */
section {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;


    /*font-weight: normal;*/
    font-size: 60px;
    /*text-shadow: 0px -2px 0px #374683;*/
    color: white;
    text-shadow:0px 0px 4px rgba(0, 0,0, 1);
    /*
    Your own font?
    font-family: fface;
    */

}

.picture {
    -moz-border-radius: 5px;
    border-radius: 4px;
    padding: 0px;
    border: solid 1px #000000;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0,0, 0.4);
    -webkit-box-shadow: 0px 0px 10ppx rgba(0, 0,0, 0.4);
    box-shadow: 0px 0px 10ppx rgba(0, 0,0, 0.4);
}

/* This part define the transitions between the slides
   Here I propose 3 differents effect:
     Default translation (classic "sliding" effect)
     Rotation (a bit dizzy... "DZ"? You get it? \o/)
     Nothing (just a fadein/fadeout)
   With the CSS3 transformations, you can create your own.
*/


/* Let me describe how the slides work:
   A slide can be:
   - the current slide
   - A upcoming slide (from the "future")
   - A slide already seen (from the "past")!=
   With CSS, you describe where are those slide,
   in the space. Then, a transition will animate
   this.
*/



/* "PAST" ******************************/
section {

    /* The sliding effect */

   /* -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);*/


    /* The rotating effect

    -moz-transform: scale(0.3) rotate(180deg);
    -webkit-transform: scale(0.3) rotate(180deg);
    */

    /* The nothing effect */
    /* Well, just comment out the rotating and sliding effect*/

}

/* The footer with the title + the current slide number */
#footer {
    display: block;
    color: white;
    font-size: 2.0em;
    opacity: 0.4;

    /*
    display: none;
    */
}

section {
        -webkit-transition-duration: 0.5s, 0.5s; 
}
/* "PRESENT" ****************************/
/* Current slide */
section[aria-selected] {
  /*  -moz-transform: scale(1.0) translate(0, 0);
    -webkit-transform: scale(1.0) translate(0, 0);*/
}

/* "FUTURE" *****************************/
/* Selector not yet supported by Webkit :( */
section[aria-selected] ~ section {


    /* The sliding effect */

    /*
    -moz-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);*/


    /* The rotating effect */
    /* -moz-transform: scale(5) rotate(-180deg);
    -webkit-transform: scale(5) rotate(-180deg);
    */

    /* The nothing effect */
    /* Well, just comment the rotating and sliding effect*/


}
