/* GLOBAL PARAMETER FOR THE SIZE */
body {
    font-size: .7em;
}

/* Periods selectors style */
#data_table ol { list-style-type: none; margin: 0; padding: 0; }
#data_table li { margin: 3px; padding: 0.4em; height: 18px; float:left; }

/* TODO REMOVE*/
.formleft {
    float:left;
    margin-right: 20px;
    min-height: 300px;
    padding:1em 1em;
    background:#D0D0D0;
}

.ui-widget-content a {
    color: #ADD8E6;
}
