/* GLOBAL PARAMETER FOR THE SIZE */
body {
    font-size: .7em;
}
/* Periods selectors style */
#data_table ol { list-style-type: none; margin: 0; padding: 0; }
#data_table li { margin: 3px; padding: 0.4em; height: 18px; float:left; }

.ui-widget-content a {
    color: #ADD8E6;
}

.highlight {
    background-color: rgba(255,0,0,0.25);  
}
.highlight_toberemoved {
    background-color: rgba(0,200,0,0.75);  
}
