filefield {
  -moz-binding: url("chrome://mozapps/content/preferences/preferences.xml#fileField");
}

keychooser {
  -moz-binding: url("chrome://tina/content/tina.xml#keychooser");
}

filechooser {
  -moz-binding: url("chrome://tina/content/tina.xml#filechooser");
}

helplink {
  -moz-binding: url("chrome://tina/content/tina.xml#helplink");
}

