
/* GLOBAL PARAMETER FOR THE SIZE */
/*body {font-size:12px;}*/


	.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	
	a.fg-button { float:left; }
	
	/* remove extra button width in IE */
	button.fg-button { width:auto; overflow:visible; }
	
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-buttonset { float:left; }
	.fg-buttonset .fg-button { float: left; }
	.fg-buttonset-single .fg-button, 
	.fg-buttonset-multi .fg-button { margin-right: -1px;}
	
	.fg-toolbar { padding: .5em; margin: 0;  }
	.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
	.fg-toolbar .fg-button { font-size: 1em;  }

	
.ui-icon-projects { background-position: -192px -144px; }
.ui-icon-terms { background-position: -208px -144px; }
.ui-icon-label { background-position: -208px -80px; }
.ui-icon-edges { background-position: -144px -176px; }
.ui-icon-nodes { background-position: -128px -80px; }
.ui-icon-pin { background-position: -208px -176px; }
.ui-icon-thunder { background-position: -208px -160px; }
.ui-icon-arrows { background-position: -96px -80px; }


.corpora_table ol { list-style-type: none; margin: 0; padding: 0; }
.corpora_table li { margin: 3px; padding: 0.4em; height: 18px; float:left; }
/*#corpora_table .ui-selected { border: 1px solid #7e7783; background: #5f5964; font-weight: bold; color: #ffffff; outline: none; }
*/

.formleft {
    float:left;
    margin-right: 20px;
    min-height: 300px;
    padding:1em 1em;
    background:#D0D0D0;
}
.import-form {
    width: 410px;
}
.export-form {
}

label, input[type="text"]{
    float:left;
    display:block;
}

label {
    margin-right: 5px;
}

.field {
    width:100%;
    overflow:auto;
    margin:5px 0px;
}

.vizframe {
    float:left;
    width:0px;
    height:0px;
    border:0px;
}
.whitebox {/*
    margin: 0;
    padding: 2px;*/
    width: 0px;
    height: 0px;
    background: #ffffff;
}
.infodiv {

    float:left;
    /*
    top:130px;
    right: 0px;*/
    width: 0px;
    height: 0px;
    overflow:auto;
    /*z-index:2;*/
    /*background: #ffffff;*/
}

.nodeinfo {
    height:100%;
    overflow:auto;
}

.repulsion {
    width:150px; 
    height:12px; 
    margin:15px;
}

/*
.htoolbar {
    position:absolute;
    position:absolute;
    bottom:80px;
    left:40px;
}
*/




