#corpora_table ol { list-style-type: none; margin: 0; padding: 0; }
#corpora_table li { margin: 3px; padding: 0.4em; height: 18px; float:left; }
/*#corpora_table .ui-selected { border: 1px solid #7e7783; background: #5f5964; font-weight: bold; color: #ffffff; outline: none; }
*/

label, input[type="text"]{
    float:left;
    display:block;
}

label {
    margin-right: 5px;
}

.field{
    width:100%;
    overflow:auto;
    margin:5px 0px;
}

.tabvizframe {
    top:0px;
    left:0px;
    width:0px;
    height:0px;
    border:0px;
}

/*
.htoolbar {
    position:absolute;
    bottom:80px;
    left:40px;
}
*/

.fg-toolbar { padding: 0.5em; margin: 0; width:800px; }
