/* GLOBAL PARAMETER FOR THE SIZE */
.session_manager_element {
    margin: 5px;
    padding: 5px;
}

/* Periods selectors style */
.selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.selectable_li {
    margin: 3px;
    padding: 0.4em;
    height: 18px;
    float:left;
}

.session_div {
    /*float: left;*/
    margin: 5px;
    /*width: 45%;*/
    padding: 5px
}

/*.ui-widget-content a {
    color: #ADD8E6;
}*/

.highlight {
    background-color: rgba(0,200,0,0.25);
}
.highlight_toberemoved {
    background-color: rgba(255,0,0,0.75);
}
.highlight_tobeadded {
    background-color: rgba(204,153,51,1.00);
}
/*.doc_keyword {
    background-color: rgba(0,200,0,0.75);
}*/
.sortable_ol {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
}
.sortable_li {
    float: left;
    /*width: 80%;*/
    height: 100%;
    margin: 2px;
    padding: 5px;
}

.mini_button {
    margin: 5px;
}

.long_td_wrapper {
    max-height: 200px;
    max-width: 500px;
    overflow: auto;
}

.qtip_text {
/*    font-size: .8em;*/
    line-height: 1;
}